.UserInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px 0;
    max-width: 600px;
}

.UserInfoContainer {
    border: 1px solid #d3d3d3;
    box-shadow: 5px 5px 5px #d3d3d3;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.AvatarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px 0 10px 0;
}

.AvatarContainer div {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00b5b5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.AvatarContainer div span {
    padding: 5px 10px 0 0;
    color: white;
    cursor: pointer;
}

.AvatarContainer img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    z-index: 100;
}

.UserInfoDetails {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.UserInfoDetails h4 {
    font-weight: 300;
    font-size: 1.5rem;
}

.UserInfoDetails ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}

.UserInfoDetails ul li {
    width: 50%;
    text-align: center;
    overflow: hidden;
}

.UserInfoDetails hr {
    border: 1px solid #00b5b5;
    background-color: #00b5b5;
    width: 50px;
    margin: 5px 0;
}

@media only screen and (max-width: 500px) {
    .UserInfoDetails ul li {
        width: 100%;
    }
}